*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color-p1: #CCD5AE;
$color-p2: #E9EDC9;
$color-p3: #FEFAE0;
$color-p4: #FAEDCD;
$color-p5: #D4A373;
$color-p6: #806953;

$color-aux1: rgb(211, 238, 238);
$color-aux2: rgb(152, 230, 230);
$color-aux3: rgb(78, 78, 78);

// MIXINGS
@mixin contenedor-texto-home($largo, $ancho, $alto, $color) {
    height: $largo;
    width: $ancho;
    background-color: $color;
    padding-top: $alto;
    text-align: center;
}

@mixin titulo-pagina($color-letra, $color-fondo) {
    padding: 20px;
    text-align: center;
    font-size: medium;
    color: $color-letra;
    background-color: $color-fondo;
}

/* barra de navegación - menú principal */
.navbar{
    height: 80px;

    .navbar-brand{
        background-color: #fff !important;  
        color: black !important;
        padding-left: 10px;

        img{
            height: 60px;
        }
        span{
            padding-right: 20px;
        }
    }
}

@media only screen and (min-width:0) and (max-width:768px) {
    .navbar-collapse{
        background-color: $color-aux3;
        display: flex;
        justify-content: center !important;
    }
}

/* Galeria */
.portada1{
    background-color: $color-p6;
}
.portada2{
    background-color: $color-aux1;
}
.imagen-gp{
    width: 495px;
    padding: 0;
}
.linea{
    border-top: 1px solid black;
    max-width: 100px;
    margin: 30px auto 20px auto;
}

.texto1{
    @include contenedor-texto-home(495px, 495px, 180px, $color-p4);
}
.texto2{
    @include contenedor-texto-home(495px, 495px, 180px, $color-aux2);
}

/* cards de las características del producto */
.tarjetas{
    background-color: $color-p4;
    padding: 20px;
}
.tit-tarjetas{
    text-align: center !important;
    padding-top: 40px;
}
.tarj-h{
    padding: 20px;

    img {
        padding: 50px;
    }
}

/* suscripción al boletín */
.boletin{
    // height: 300px;
    background-image: linear-gradient(to bottom, $color-p1, $color-aux3);

    .tit-boletin{
        padding-top: 40px;
        text-align: center;
    }

    .formulario{
        height: 180px;
        margin-bottom: 20px;
    }

    .email-form{
        margin-bottom: 10px;
    }
}

/* footer */
.pie-pag{
    padding: 20px;
}

/* página COLECCION */

/* título de la galería */
.tit-galeria{
    @include titulo-pagina($color-p2, $color-p6)
}

.columna-c{
    margin-top: 30px;
    padding: 20px;

    .tarj-c{
        padding: 40px;

        img{
            transition: all 1s;
        }

        img:hover{
            transform: scale(1.1);
        }
    }
}

/* página FILOSOFIA */

/* título de la página*/
.tit-filosofia{
    @include titulo-pagina($color-p6, $color-p4);
}

.filosofia{
    background-color: $color-p6;

    .jumbotron{
        height: 500px;
        background-image: linear-gradient(to bottom, rgba(110, 155, 155, 0.6), rgba(211, 230, 130, 0.7)),  url(./img/ecology-2789601.svg);
        background-size: contain;
        background-position: center;
    
        h2{
            color: $color-p2;
            text-align: center;
        }
        h3{
            color: $color-p2;
            text-align: center;
        }
        p{
            color: $color-p3;
            text-align: center;
        }
    }
}

@media only screen and (min-width:0) and (max-width:768px) {
    .filosofia .jumbotron{
        height: 700px;
    }
}

.tit-pilares{
    text-align: center;
    background-color: $color-p1;
    color: $color-p6;
    padding: 20px;
    margin-bottom: 0;
}


.pilar-1{
    padding: 30px;
    background-color: $color-p3;
}
.pilar-2{
    padding: 30px;
    background-color: $color-p4;
}
.texto-pl{
    text-align: center;
    color: $color-p6;
}

/* página GUIA DE TALLAS */

/* título de la página*/
.tit-tallas{
    @include titulo-pagina($color-p6, $color-p4);
}

.contenido{
    background-color: $color-p1;
    margin-bottom: 0;
    padding: 30px;
    text-align: center;
    color: $color-p6;

    h3{
        margin-bottom: 20px;
    }
}

.imagen-tabla{
    background-color: $color-p4;
}
/* página CONTACTO */

.titulo-contacto{
    @include titulo-pagina($color-p2, $color-p6)
}
.formulario{
    padding: 50px;
    background-color: $color-p2;
}
.mapa{
    padding: 20px;
    background-color: $color-p3;
}
.img-contacto{
    margin-left: 20px;
    margin-top: 20px;

    h4{
        color: $color-p6;
    }
}